<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>New item</key>
	<dict>
		<key>AppSecret</key>
		<string>399ad8e4-7d8b-48f3-bdca-0ca07ad76095</string>
	</dict>
</dict>
</plist>
